/* Variables */
:root{
    --inet: #0E68AF;
    --blanco: #FFFFFF;
    --negro: #000000;
}

/* Fuente */
@font-face{
    font-family: Inter;
    src: url(font/Inter-Regular.ttf);
    font-weight: 400;
}

/* Estilos generales */
*{
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--negro);
}

#parent{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 5px;
    background-color: var(--blanco);
    margin-bottom: 200px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--inet);
    border-radius: 5px;
    border-right: 1px solid var(--inet)
}

/* Header */
#head{
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    position: relative;
}

#inet{
    width: 790px;
    height: 80%;
    margin-left: 30px;
}

#iden{
    width: 153px;
    height: 153px;
    float: right;
    margin-right: 30px;
    margin-left: auto;
}

hr {
    width: 100%;
    height: 3px;
    background-color: var(--inet);
    border-radius: 5px;
    margin: 0 auto;
}

/* Estilos menú */
h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    color: var(--inet);
    font-family: Inter;
    font-size: 40px;
    grid-column: span 3;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.rectangle {
    width: 260px;
    height: 305px;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.rectangle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.label {
    height: 34px;
    width: 260px;
    font-size: 14px;
    color: #666;
    background-color: var(--inet);
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Estilos responsive para dispositivos móviles */
@media screen and (max-width: 600px) {
    #head {
        flex-direction: column;
        align-items: center;
    }

    #inet {
        width: 80%;
        height: auto;
        margin: 20px 0;
    }

    #iden {
        width: 100px;
        height: 100px;
        margin:  0;
    }

    hr {
        width: 100%;
        margin: 20px 0;
    }

    h1 {
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .menu-item {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .rectangle {
        width: 100%;
        height: auto;
    }

    .label {
        width: 100%;
        font-size: 16px;
        height: auto;
        margin-bottom: 10px;
    }
}

/* Estilos responsive para dispositivos con ancho mínimo de 600px y máximo de 800px */
@media screen and (min-width: 600px) and (max-width: 800px) {
    #main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #inet {
        width: 80%;
        height: auto;
        margin: 20px 0;
    }

    #iden {
        width: 100px;
        height: 100px;
    }

    .label {
        width: 100%;
        font-size: 16px;
        height: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    #head {
        flex-direction: row; /* Mantener el diseño en fila para mostrar ambos logotipos */
        justify-content: space-between;
    }

    #inet {
        width: 75%; /* Ancho del logo inet en esta resolución */
        height: auto;
    }

    #iden {
        width: 125px; /* Ancho del logo identificador en esta resolución */
        height: 125px;
    }

}